<% include ../partials/header %>

<div id="register">
	<a class="btn btn-lg btn-success" onclick="checkAndRegister()">Register</a>
</div>
<script type="text/javascript" src="register.js"></script>
<% include ../partials/footer %>