 <!DOCTYPE html>
 <html>
 <head>
 	<title>Netaji Subhas Institute of Technology</title>
 		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
 	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
 </head>
 <body>

 	<div class="ui huge menu inverted">
 		<div class="header item">
 			Anonymous contact tracing
 		</div>

 		<% if(!currentUser){%>
 		<a class="item" href="/login">
 			Login
 		</a>
 		<a class="item" href="/register">
 			Sign Up
 		</a>
 		<% 	}
 		else{%>
 		<a href="#" class="item">Signed in as <%=currentUser.username.toUpperCase()%></a>
 		<a href="/logout" class="item">Logout</a>				
 		<%  }%>

 	</div>


