 <!DOCTYPE html>
 <html>
 <head>
 	<title>Netaji Subhas Institute of Technology</title>
 		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
 	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
 </head>
 <!-- <body onload="checkAndRegister()"> -->
 	<body>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/pouchdb/7.2.1/pouchdb.min.js"></script>

 	<div class="ui huge menu inverted">
 		<div class="header item">
 			Anonymous contact tracing
 		</div>

 		<a class="item" href="/login">
 			Login
 		</a>
 		<a class="item" onclick="checkAndRegister()">
 			Sign Up
 		</a>

 	</div>
 	<script type="text/javascript" src="register.js"></script>


