<% include ./partials/header%>

<div class="ui placeholder segment">
	<div class="ui two column very relaxed stackable grid">
		<div class="column">
			<h3 class="ui">Warning</h3>
		</div>
		<div class="column">
			<h3>Data</h3>
		</div>
	</div>
	<div class="ui vertical divider"></div>
</div>
<%include ./partials/footer%>